<div class="ps-container">

  <mat-form-field *ngIf="productNames">
    <mat-select placeholder="Select a Product" (selectionChange)="productSelected($event)">
      <mat-option *ngFor="let product of productNames" [value]="product">
        {{product}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <product-info *ngIf="displayedProduct"
                [product]="displayedProduct"
                [highestPrice]="highestPrice"
                [lowestPrice]="lowestPrice">
  </product-info>

</div>
