<div class="ps-container">

  <mat-form-field *ngIf="productNames">
    <mat-select placeholder="Select a Product" (selectionChange)="productSelected($event)">
      <mat-option *ngFor="let product of productNames" [value]="product">
        {{product}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-spinner *ngIf="loading"></mat-spinner>

  <div *ngIf="!loading">
    <mat-card *ngIf="error" class="error-card">{{error}}</mat-card>

    <product-info *ngIf="!error && displayedProduct"
                  [product]="displayedProduct"
                  [highestPrice]="highestPrice"
                  [lowestPrice]="lowestPrice">
    </product-info>
  </div>

</div>
