<div class="ps-container">

  <form class="example-form" *ngIf="productNames">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Select a Product" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="productSelected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <mat-spinner *ngIf="loading"></mat-spinner>

  <div *ngIf="!loading">
    <mat-card *ngIf="error" class="error-card">{{error}}</mat-card>

    <product-info *ngIf="!error && displayedProduct"
                  [product]="displayedProduct"
                  [highestPrice]="highestPrice"
                  [lowestPrice]="lowestPrice">
    </product-info>
  </div>

</div>
